#h1{
    text-align: center;
    color: red;
}
#h2{
    color: slateblue;
    text-align: center;
}
.mid{
    text-align: center;
    
}
#h3 {
    text-align: center;
    color: tan;
}
.list_of_insturment{
    text-align: center;
    list-style-position: inside;
}